@model IEnumerable<ProyectoEcommerce.Models.Pedido>

@{
    ViewBag.Title = "listadoPedidos";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<h2>listadoPedidos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechapedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaentrega)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.distrito)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.referencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.empleado)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.pedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechapedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaentrega)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.distrito)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.referencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.monto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.empleado)
        </td>
    </tr>
}

</table>
